body {
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 15px #b4b3b3;
          box-shadow: 0px 5px 15px #b4b3b3;
  font-family: 'Inter', sans-serif;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

header .header .display-none {
  background: url("menu-icon.png") center/2rem no-repeat;
  border: none;
  height: 2rem;
  width: 2rem;
}

header .menu-2 {
  display: none;
}

.info {
  background: url("graphic.svg") top 5px right -175px no-repeat;
  background-size: 23rem;
  height: 50vh;
  min-width: 200px;
  padding: 0 2rem;
  padding-top: 4rem;
}

.info div {
  max-width: 250px;
}

.info h4 {
  color: #d43874;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
}

.info h1 {
  font-size: 2.6rem;
  font-weight: 900;
}

.info p {
  color: #444;
  font-size: 1.1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.info button {
  border: 0.2rem solid transparent;
  -o-border-image: linear-gradient(45deg, red, #e4ab31);
     border-image: linear-gradient(45deg, red, #e4ab31);
  border-image-slice: 1;
  font-size: 600;
  font-weight: bold;
  height: 4rem;
  width: 9rem;
}

.offer {
  background: url("background.svg") no-repeat;
  background-size: cover;
  background-position: left -1rem bottom -1rem;
  height: 20vh;
  padding: 2rem;
  padding-top: 7rem;
}

.offer h1 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-top: 0;
}

.offer p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.companies .logos {
  display: -ms-grid;
  display: grid;
  height: 13vh;
  gap: 0.8rem 0.8rem;
  padding: 2rem;
  padding-top: 3rem;
  -ms-grid-columns: 145px 90px;
      grid-template-columns: 145px 90px;
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
      grid-template-areas: "img-2 img-1" "img-3 img-5";
}

.companies .logos .img-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-1;
  width: 11rem;
}

.companies .logos .img-2 {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-2;
  width: 7rem;
}

.companies .logos .img-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-3;
  width: 6rem;
}

.companies .logos .img-4 {
  display: none;
  grid-area: img-4;
  width: 10rem;
}

.companies .logos .img-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img-5;
  width: 8rem;
}

.companies h1, .companies p {
  padding: 2rem;
}

.companies h1 {
  margin: 0;
  font-size: 2.3rem;
  font-weight: 500;
  padding: 0 2rem;
}

.companies p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.nfts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  overflow: auto;
  white-space: nowrap;
}

.nfts img {
  margin-left: 1rem;
}

.nfts table {
  background-color: #EEEEEE;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: 95%;
}

.nfts table .orange-color {
  color: orange;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.nfts table .small-letters {
  color: #666;
  font-size: 0.7rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.nfts table .small-letters, .nfts table .td-1:last-child, .nfts table td:last-child {
  text-align: right;
}

.nfts table .td-1 {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.nfts table td {
  color: #666;
  padding-bottom: 0.5rem;
}

.nfts .eth {
  position: relative;
  top: -4.8rem;
  right: 7.8rem;
}

.nfts-smaller div {
  height: 277px;
}

.info-2 {
  background: url("upsell-footer-image.svg") top 140px right -30px no-repeat;
  background-size: 12rem;
  height: 60vh;
  min-width: 200px;
  padding: 0 2rem;
  padding-top: 4rem;
}

.info-2 div {
  width: 200px;
}

.info-2 h4 {
  color: #d43874;
  font-size: 0.85rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0;
}

.info-2 h1 {
  font-size: 3.2rem;
  font-weight: 900;
  margin-top: 1rem;
}

.info-2 p {
  color: #444;
  font-size: 1.1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.info-2 button {
  border: 0.2rem solid transparent;
  -o-border-image: linear-gradient(45deg, red, #e4ab31);
     border-image: linear-gradient(45deg, red, #e4ab31);
  border-image-slice: 1;
  font-size: 600;
  font-weight: bold;
  height: 4rem;
  width: 9rem;
}

footer .logo-img {
  padding-top: 4rem;
  padding-left: 2rem;
}

footer p {
  font-size: 1.25rem;
  font-weight: 400;
  padding-left: 2rem;
}

footer div {
  padding-left: 2rem;
}

footer div .logo-1, footer .logo-2, footer .logo-3, footer .logo-4 {
  height: 1.3rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

footer table {
  padding: 2rem;
}

footer table th {
  color: #555;
  font-weight: 700;
  padding: 2rem 6rem 1.5rem 0;
  text-align: left;
}

footer table td {
  padding-bottom: 0.7rem;
}

footer table td a {
  color: #555;
  font-weight: 400;
  text-decoration: none;
}

footer .footer-flex {
  padding-left: 0;
}

footer .leftside-footer {
  padding: 2rem 0rem 0rem 0rem;
}

footer .desktop-table {
  display: none;
}

footer .end {
  height: 12vh;
}

footer .end div {
  display: none;
}

footer .end aside {
  color: #9b9a9a;
  font-weight: 400;
  font-size: 1.1rem;
}

@media screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
    max-width: 1201px;
    padding: 2rem;
  }
  .header .display-none {
    display: none;
  }
  header .menu-2 {
    display: inline;
    text-align: right;
  }
  header .menu-2 a {
    color: #444;
    padding-right: 1rem;
    text-decoration: none;
  }
  header .menu-2 a:last-child {
    color: #d43874;
    padding-right: 0;
  }
  .info {
    background-size: 37rem;
    background-position: center right 2rem;
    height: 65vh;
  }
  .info div {
    max-width: 500px;
  }
  .info h1 {
    font-size: 4.5rem;
    margin: 1.5rem 0rem;
  }
  .offer {
    background-position: center;
    border-radius: 1rem;
    height: 13vh;
    margin: 0 2rem;
    padding-left: 3.5rem;
  }
  .companies .logos .img-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .companies .logos {
    height: 14vh;
        grid-template-areas: "img-1 img-2 img-3 img-4 img-5";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 6rem;
  }
  .nfts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    white-space: normal;
  }
  .nfts table {
    width: 87%;
  }
  .nfts-smaller div {
    height: 244px;
  }
  .nfts .nfts-smaller img {
    height: 15.3rem;
    padding-right: 1.4rem;
  }
  .nfts .nfts-smaller .eth {
    height: 1.3rem;
    right: 9.3rem;
  }
  .info-2 {
    background-size: 11rem;
    background-position: center right 13rem;
    height: 65vh;
  }
  .info-2 div {
    width: 515px;
  }
  .info-2 div h1 {
    padding-top: 1rem;
  }
  footer table {
    display: none;
  }
  footer .desktop-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 0rem 0rem 4rem;
  }
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .leftside-footer {
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  .leftside-footer .logo-img {
    padding-top: 3rem;
  }
  .leftside-footer img {
    padding-left: 0;
  }
  .leftside-footer p {
    padding-left: 0;
  }
  .leftside-footer div {
    padding-left: 0;
  }
  footer .end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 16vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 1.5rem;
  }
  footer .end div {
    color: #9b9a9a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 1.1rem;
    padding-right: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */